.map-container-4{
    overflow:hidden;
    padding-bottom:50.25%;
    position:relative;
    height:0;
    }
    .map-container-4 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }